<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Help Page</title>
        <link rel="stylesheet" href="./help.css">
    </head>
    <body>
        <nav>
            <a href="index.html">Back to dashboard</a>
        </nav>
        <h1>Need a hand?</h1>

        <!-- Quick Actions -->
        <h2>Quick Actions</h2>
        <div class="container">
            <p>From the quick actions tab, you can access three functions:</p>
            <ul>
                <li>Your most recent transaction. The amount of money involved, the date of the transaction, and the transaction's category.</li>
                <li>Add a new transaction button.</li>
                <li>Get access to this help page.</li>
            </ul>
        </div>

        <!-- Income and Expense Data -->
        <h2>Income and Expense Data</h2>
        <div class="container">
            <p>The "Income and Expense Data" category shows 4 key things. The income pie graph, the expense pie graph, each category's weight, and the income versus expense bar graph.</p>
            <br>
            <p>The income and expense pie graph look at each category in their respective division and calculate what percentage of that division they make up. This is then turned into a pie graph and shown to you in easy to read data.</p>
            <br>
            <p>The income versus expense bar graph displays your income and expense side-by-side to assist in visualizing how they compare.</p>
            <br>

            <p>You can filter the data to only show the last week, month, year, or all time using the dropdown menu above the graphs.</p>
        </div>

        <!-- Transaction History -->
        <h2>Transaction History</h2>
        <div class="container">
            <p>The transaction history section shows you all your transactions in a neat table. It shows you the transaction name, amount, balance after the transaction, the date the transaction occurred, the category, and whether it was an expense or income source. It also allows you to edit and delete entries and transactions.</p>
            <br>
            <p><b>Deleting a row cannot be undone.</b></p>
            <br>
            <p>To edit a transaction, click the transaction, edit it in the fields, and then click the edit button again.</p>
            <br>
            <p>You may also use the search bar and select menu to search by name or filter by category.</p>
        </div>
    </body>
</html>